.gameOver {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  height: 840px;
  width: 918px;
  background-color: rgba(20, 19, 19, 0.7);
  left: 50%;
  transform: translateX(-50%);
}

.gameOverImg {
  transition: transform 3s linear;
  transform: translateY(0px);
  will-change: transform;
}
