.wrapper{
background-color: black;
display: flex;
justify-content: space-around;
flex-direction: column;
padding: 50px;
padding-top: 25px;
padding-bottom: 0;
width: 834px;
height: 838px;
margin: 0 auto;
}

.menuWrapper{
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-top: 30px;
}

.start, .setting, .help{
  color: white;
  font-family: 'Common Pixel', sans-serif;
}

.tank {
    padding-right: 10px;
    padding-top: 7px;
}

.ghLogo{
  width: 70px;
  height: 70px;
}